@page "/"
@inject Data.Services services
@using Microsoft.AspNetCore.Components.QuickGrid
@using BlazorAPIExperimental.Data

<PageTitle>Home</PageTitle>

<div class="crime-list">
    <form method="post" @onsubmit="@Submit" @formname="form">
        <AntiforgeryToken/>
        <input type="date" value="dateChosen"/>
        <button type="submit">Test</button>
    </form>
    @if(crimeData is not null)
    {
        @foreach (var crime in crimeData)
        {
            <div class="crime-item">
                <h4>@crime.summary</h4>
                <p><strong>Type: </strong>@crime.type</p>
                <p><strong>Date and Time:</strong>@FormatDateTime(crime.datetime)</p>
                <p><strong>Location:</strong> @crime.location.name</p>
                <a href="@($"https://polisen.se{crime.url}")"><strong>Link to article</strong></a>
            </div>
        }
    }
</div>

@code{
    List<CrimeSummary> crimeData;
    DateTime dateChosen { get; set; } = DateTime.Now;

    protected override async Task OnInitializedAsync()
    {
        crimeData = await services.GetData();
    }
    private string FormatDateTime(string dateTimeString)
    {
        return DateTime.Parse(dateTimeString).ToString("yyyy-MM-dd");
    }
    private async Task Submit()
    {
        await services.GetData(FormatDateTime(dateChosen.ToString()));
    }
}

<style>

.crime-item {
    margin-bottom: 20px;
    border: 3px solid #6f6f6f;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 5px 5px #787878;
    background-color: #e6efff;
}

    .crime-item h4 {
        margin-bottom: 5px;
    }

    .crime-item p {
        margin-bottom: 3px;
    }

</style>
