@page "/"
@inject Data.Services services
@using Microsoft.AspNetCore.Components.QuickGrid
@using Microsoft.AspNetCore.Components.Forms
@using BlazorAPIExperimental.Data

<PageTitle>Home</PageTitle>

<h2>Crime scanner</h2>
<div class="crime-date">
    <EditForm Model="DateChosen" OnSubmit="Submit" FormName="Pick-date">
        <label>Choose crime date: </label>
         <InputDate Type="InputDateType.Date" @bind-Value=DateChosen/>
          <button type="submit">Find crimes</button>
    </EditForm>
</div>

<hr />

<div class="crime-list">    
    @if(crimeData is not null)
    {
        @foreach (var crime in crimeData)
        {
            <div class="crime-item">
                <h4>@crime.summary</h4>
                <p><strong>Type: </strong>@crime.type</p>
                <p><strong>Date and Time:</strong>@FormatDateTime(crime.datetime)</p>
                <p><strong>Location:</strong> @crime.location.name</p>
                <a href="@($"https://polisen.se{crime.url}")"><strong>Link to article</strong></a>
            </div>
        }
    }
</div>

@code{

    // Local variable to save list of crimes from API
    public List<CrimeSummary> crimeData;

    // Propertry to store user input from form
    [SupplyParameterFromForm]
    public DateTime DateChosen { get; set; } = DateTime.Now;

    // When page loads
    protected override async Task OnInitializedAsync()
    {
        crimeData = await services.GetAllData();
    }


    // When form is submitted
    private async Task Submit(EditContext editContext)
    {
        if (editContext.Validate())
        {
            // Populate the list with data from chosen date
            crimeData = await services.GetDataByDate(FormatDateTime(DateChosen.ToString()));
        }
    }

    // Convert and format date to make it compatible with API
    private string FormatDateTime(string dateTimeString)
    {
        return DateTime.Parse(dateTimeString).ToString("yyyy-MM-dd");
    }
}

<style>

.crime-item {
    margin-bottom: 20px;
    border: 3px solid #6f6f6f;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 5px 5px #787878;
    background-color: #e6efff;
}

    .crime-item h4 {
        margin-bottom: 5px;
    }

    .crime-item p {
        margin-bottom: 3px;
    }

</style>
